.markdown {
  font-size: 1.4rem; /* equivalent to text-lg */
  line-height: 1.625; /* equivalent to leading-relaxed */
  font-family: 'inter', sans-serif;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  margin-top: 1.8rem; /* equivalent to my-6 */
  margin-bottom: 1.5rem; /* equivalent to my-6 */
  font-weight: 400;
}

.markdown h2 {
  font-size: 1.875rem; /* equivalent to text-3xl */
  margin-top: 3rem; /* equivalent to mt-12 */
  margin-bottom: 1rem; /* equivalent to mb-4 */
  line-height: 1.375; /* equivalent to leading-snug */
  font-weight: 600;
}

.markdown h3 {
  font-size: 1.5rem; /* equivalent to text-2xl */
  margin-top: 2rem; /* equivalent to mt-8 */
  margin-bottom: 1rem; /* equivalent to mb-4 */
  line-height: 1.375; /* equivalent to leading-snug */
}

.markdown a {
  color: blue;
  text-decoration: underline; /* Optional: to underline the links */
}